{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'title.bookmark'|trans }}</h1>

    {% if bookmark is defined and bookmark|length %}

            <dl>
                <dt>{{ 'label.url'|trans }}</dt>
                <dd>{{ bookmark.url }}</dd>
                <dt>{{ 'label.tags'|trans }}</dt>
                {% for tag in bookmark.tags %}
                    <dd>{{ tag }}</dd>
                {% endfor %}
            </dl>
    {% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
    {% endif %}

{% endblock %}